doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet" href='./assets/markdown.css?t=' + Date.now())
    link(rel="stylesheet" href='./assets/highlight.css?t=' + Date.now())
    link(rel="stylesheet" href='./assets/main.css?t=' + Date.now())
  body
    .g-nav!= navHtml
    .g-doc.markdown-body!= docHtml
      .g-footer @#{footerText}
    script(src='./assets/jquery.js?t=' + Date.now())
    script(src='./assets/highlight.js?t=' + Date.now())
    script(src='./assets/main.js?t=' + Date.now())
